envoyfilter/target
envoyfilter/qdrant_data/
public-types/target
embedding-server/venv/
chatbot-ui/venv/
__pycache__
grafana-data
prom_data
.env
qdrant_data
generated
.DS_Store
*.gguf
venv
demos/function-calling/ollama/models/
demos/function-calling/ollama/id_ed*
