arch/target
arch/qdrant_data/
public_types/target
/venv/
__pycache__
grafana-data
prom_data
.env
qdrant_data
generated
.DS_Store
*.gguf
venv
demos/function_calling/ollama/models/
demos/function_calling/ollama/id_ed*
docs/build/
demos/function_calling/open-webui/
demos/employee_details_copilot/open-webui/
demos/employee_details_copilot_arch/open-webui/
demos/network_copilot/open-webui/
demos/employee_details_copilot/ollama/models/
demos/employee_details_copilot_arch/ollama/models/
demos/network_copilot/ollama/models/
arch_log/
arch/tools/*.egg-info
arch/tools/config
model_server/venv_model_server
