repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
        entry: bash -c "cd envoyfilter && cargo fmt --all"
      - id: cargo-check
        entry: bash -c "cd envoyfilter && cargo check --all"
