services:
  archgw:
    image: katanemo/archgw:latest
    ports:
      - "10000:10000"
      - "11000:11000"
      - "12000:12000"
      - "19901:9901"
    volumes:
      - ${ARCH_CONFIG_FILE:-../demos/function_calling/arch_config.yaml}:/config/arch_config.yaml
      - /etc/ssl/cert.pem:/etc/ssl/cert.pem
      - ~/archgw_logs:/var/log/
    env_file:
      - stage.env
    extra_hosts:
      - "host.docker.internal:host-gateway"
