#TOOD: pin versions
fastapi==0.115.0
sentence-transformers==3.1.1
torch==2.4.1
uvicorn==0.31.0
transformers
pyyaml==6.0.2
accelerate
psutil==6.0.0
# guard inference packages
optimum-intel==1.19.0
openvino==2024.4.0
psutil
dateparser
openai==1.50.2
pandas
tf-keras
onnx==1.17.0
onnxruntime==1.19.2
pytest
