#TOOD: pin versions
fastapi
sentence-transformers
torch
uvicorn
gliner
transformers
pyyaml
accelerate
# guard inference packages
optimum-intel
openvino
psutil
pandas
dateparser
openai
pandas
tf-keras
pytest
