pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.highlight .hll { background-color: #ffffcc }
.highlight { background: #ffffff; }
.highlight .c { color: #888888; font-style: italic } /* Comment */
.highlight .err { background-color: #a848a8 } /* Error */
.highlight .k { color: #2838b0 } /* Keyword */
.highlight .o { color: #666666 } /* Operator */
.highlight .p { color: #888888 } /* Punctuation */
.highlight .ch { color: #287088; font-style: italic } /* Comment.Hashbang */
.highlight .cm { color: #888888; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #289870 } /* Comment.Preproc */
.highlight .cpf { color: #888888; font-style: italic } /* Comment.PreprocFile */
.highlight .c1 { color: #888888; font-style: italic } /* Comment.Single */
.highlight .cs { color: #888888; font-style: italic } /* Comment.Special */
.highlight .gd { color: #c02828 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .ges { font-weight: bold; font-style: italic } /* Generic.EmphStrong */
.highlight .gr { color: #c02828 } /* Generic.Error */
.highlight .gh { color: #666666 } /* Generic.Heading */
.highlight .gi { color: #388038 } /* Generic.Inserted */
.highlight .go { color: #666666 } /* Generic.Output */
.highlight .gp { color: #444444 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #444444 } /* Generic.Subheading */
.highlight .gt { color: #2838b0 } /* Generic.Traceback */
.highlight .kc { color: #444444; font-style: italic } /* Keyword.Constant */
.highlight .kd { color: #2838b0; font-style: italic } /* Keyword.Declaration */
.highlight .kn { color: #2838b0 } /* Keyword.Namespace */
.highlight .kp { color: #2838b0 } /* Keyword.Pseudo */
.highlight .kr { color: #2838b0 } /* Keyword.Reserved */
.highlight .kt { color: #2838b0; font-style: italic } /* Keyword.Type */
.highlight .m { color: #444444 } /* Literal.Number */
.highlight .s { color: #b83838 } /* Literal.String */
.highlight .na { color: #388038 } /* Name.Attribute */
.highlight .nb { color: #388038 } /* Name.Builtin */
.highlight .nc { color: #287088 } /* Name.Class */
.highlight .no { color: #b85820 } /* Name.Constant */
.highlight .nd { color: #287088 } /* Name.Decorator */
.highlight .ni { color: #709030 } /* Name.Entity */
.highlight .ne { color: #908828 } /* Name.Exception */
.highlight .nf { color: #785840 } /* Name.Function */
.highlight .nl { color: #289870 } /* Name.Label */
.highlight .nn { color: #289870 } /* Name.Namespace */
.highlight .nt { color: #2838b0 } /* Name.Tag */
.highlight .nv { color: #b04040 } /* Name.Variable */
.highlight .ow { color: #a848a8 } /* Operator.Word */
.highlight .pm { color: #888888 } /* Punctuation.Marker */
.highlight .w { color: #a89028 } /* Text.Whitespace */
.highlight .mb { color: #444444 } /* Literal.Number.Bin */
.highlight .mf { color: #444444 } /* Literal.Number.Float */
.highlight .mh { color: #444444 } /* Literal.Number.Hex */
.highlight .mi { color: #444444 } /* Literal.Number.Integer */
.highlight .mo { color: #444444 } /* Literal.Number.Oct */
.highlight .sa { color: #444444 } /* Literal.String.Affix */
.highlight .sb { color: #b83838 } /* Literal.String.Backtick */
.highlight .sc { color: #a848a8 } /* Literal.String.Char */
.highlight .dl { color: #b85820 } /* Literal.String.Delimiter */
.highlight .sd { color: #b85820; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #b83838 } /* Literal.String.Double */
.highlight .se { color: #709030 } /* Literal.String.Escape */
.highlight .sh { color: #b83838 } /* Literal.String.Heredoc */
.highlight .si { color: #b83838; text-decoration: underline } /* Literal.String.Interpol */
.highlight .sx { color: #a848a8 } /* Literal.String.Other */
.highlight .sr { color: #a848a8 } /* Literal.String.Regex */
.highlight .s1 { color: #b83838 } /* Literal.String.Single */
.highlight .ss { color: #b83838 } /* Literal.String.Symbol */
.highlight .bp { color: #388038; font-style: italic } /* Name.Builtin.Pseudo */
.highlight .fm { color: #b85820 } /* Name.Function.Magic */
.highlight .vc { color: #b04040 } /* Name.Variable.Class */
.highlight .vg { color: #908828 } /* Name.Variable.Global */
.highlight .vi { color: #b04040 } /* Name.Variable.Instance */
.highlight .vm { color: #b85820 } /* Name.Variable.Magic */
.highlight .il { color: #444444 } /* Literal.Number.Integer.Long */pre { line-height: 125%; }
td.linenos .normal { color: #6e7681; background-color: #0d1117; padding-left: 5px; padding-right: 5px; }
span.linenos { color: #6e7681; background-color: #0d1117; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #e6edf3; background-color: #6e7681; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #e6edf3; background-color: #6e7681; padding-left: 5px; padding-right: 5px; }
.dark .highlight .hll { background-color: #6e7681 }
.dark .highlight { background: #0d1117; color: #e6edf3 }
.dark .highlight .c { color: #8b949e; font-style: italic } /* Comment */
.dark .highlight .err { color: #f85149 } /* Error */
.dark .highlight .esc { color: #e6edf3 } /* Escape */
.dark .highlight .g { color: #e6edf3 } /* Generic */
.dark .highlight .k { color: #ff7b72 } /* Keyword */
.dark .highlight .l { color: #a5d6ff } /* Literal */
.dark .highlight .n { color: #e6edf3 } /* Name */
.dark .highlight .o { color: #ff7b72; font-weight: bold } /* Operator */
.dark .highlight .x { color: #e6edf3 } /* Other */
.dark .highlight .p { color: #e6edf3 } /* Punctuation */
.dark .highlight .ch { color: #8b949e; font-style: italic } /* Comment.Hashbang */
.dark .highlight .cm { color: #8b949e; font-style: italic } /* Comment.Multiline */
.dark .highlight .cp { color: #8b949e; font-weight: bold; font-style: italic } /* Comment.Preproc */
.dark .highlight .cpf { color: #8b949e; font-style: italic } /* Comment.PreprocFile */
.dark .highlight .c1 { color: #8b949e; font-style: italic } /* Comment.Single */
.dark .highlight .cs { color: #8b949e; font-weight: bold; font-style: italic } /* Comment.Special */
.dark .highlight .gd { color: #ffa198; background-color: #490202 } /* Generic.Deleted */
.dark .highlight .ge { color: #e6edf3; font-style: italic } /* Generic.Emph */
.dark .highlight .ges { color: #e6edf3; font-weight: bold; font-style: italic } /* Generic.EmphStrong */
.dark .highlight .gr { color: #ffa198 } /* Generic.Error */
.dark .highlight .gh { color: #79c0ff; font-weight: bold } /* Generic.Heading */
.dark .highlight .gi { color: #56d364; background-color: #0f5323 } /* Generic.Inserted */
.dark .highlight .go { color: #8b949e } /* Generic.Output */
.dark .highlight .gp { color: #8b949e } /* Generic.Prompt */
.dark .highlight .gs { color: #e6edf3; font-weight: bold } /* Generic.Strong */
.dark .highlight .gu { color: #79c0ff } /* Generic.Subheading */
.dark .highlight .gt { color: #ff7b72 } /* Generic.Traceback */
.dark .highlight .g-Underline { color: #e6edf3; text-decoration: underline } /* Generic.Underline */
.dark .highlight .kc { color: #79c0ff } /* Keyword.Constant */
.dark .highlight .kd { color: #ff7b72 } /* Keyword.Declaration */
.dark .highlight .kn { color: #ff7b72 } /* Keyword.Namespace */
.dark .highlight .kp { color: #79c0ff } /* Keyword.Pseudo */
.dark .highlight .kr { color: #ff7b72 } /* Keyword.Reserved */
.dark .highlight .kt { color: #ff7b72 } /* Keyword.Type */
.dark .highlight .ld { color: #79c0ff } /* Literal.Date */
.dark .highlight .m { color: #a5d6ff } /* Literal.Number */
.dark .highlight .s { color: #a5d6ff } /* Literal.String */
.dark .highlight .na { color: #e6edf3 } /* Name.Attribute */
.dark .highlight .nb { color: #e6edf3 } /* Name.Builtin */
.dark .highlight .nc { color: #f0883e; font-weight: bold } /* Name.Class */
.dark .highlight .no { color: #79c0ff; font-weight: bold } /* Name.Constant */
.dark .highlight .nd { color: #d2a8ff; font-weight: bold } /* Name.Decorator */
.dark .highlight .ni { color: #ffa657 } /* Name.Entity */
.dark .highlight .ne { color: #f0883e; font-weight: bold } /* Name.Exception */
.dark .highlight .nf { color: #d2a8ff; font-weight: bold } /* Name.Function */
.dark .highlight .nl { color: #79c0ff; font-weight: bold } /* Name.Label */
.dark .highlight .nn { color: #ff7b72 } /* Name.Namespace */
.dark .highlight .nx { color: #e6edf3 } /* Name.Other */
.dark .highlight .py { color: #79c0ff } /* Name.Property */
.dark .highlight .nt { color: #7ee787 } /* Name.Tag */
.dark .highlight .nv { color: #79c0ff } /* Name.Variable */
.dark .highlight .ow { color: #ff7b72; font-weight: bold } /* Operator.Word */
.dark .highlight .pm { color: #e6edf3 } /* Punctuation.Marker */
.dark .highlight .w { color: #6e7681 } /* Text.Whitespace */
.dark .highlight .mb { color: #a5d6ff } /* Literal.Number.Bin */
.dark .highlight .mf { color: #a5d6ff } /* Literal.Number.Float */
.dark .highlight .mh { color: #a5d6ff } /* Literal.Number.Hex */
.dark .highlight .mi { color: #a5d6ff } /* Literal.Number.Integer */
.dark .highlight .mo { color: #a5d6ff } /* Literal.Number.Oct */
.dark .highlight .sa { color: #79c0ff } /* Literal.String.Affix */
.dark .highlight .sb { color: #a5d6ff } /* Literal.String.Backtick */
.dark .highlight .sc { color: #a5d6ff } /* Literal.String.Char */
.dark .highlight .dl { color: #79c0ff } /* Literal.String.Delimiter */
.dark .highlight .sd { color: #a5d6ff } /* Literal.String.Doc */
.dark .highlight .s2 { color: #a5d6ff } /* Literal.String.Double */
.dark .highlight .se { color: #79c0ff } /* Literal.String.Escape */
.dark .highlight .sh { color: #79c0ff } /* Literal.String.Heredoc */
.dark .highlight .si { color: #a5d6ff } /* Literal.String.Interpol */
.dark .highlight .sx { color: #a5d6ff } /* Literal.String.Other */
.dark .highlight .sr { color: #79c0ff } /* Literal.String.Regex */
.dark .highlight .s1 { color: #a5d6ff } /* Literal.String.Single */
.dark .highlight .ss { color: #a5d6ff } /* Literal.String.Symbol */
.dark .highlight .bp { color: #e6edf3 } /* Name.Builtin.Pseudo */
.dark .highlight .fm { color: #d2a8ff; font-weight: bold } /* Name.Function.Magic */
.dark .highlight .vc { color: #79c0ff } /* Name.Variable.Class */
.dark .highlight .vg { color: #79c0ff } /* Name.Variable.Global */
.dark .highlight .vi { color: #79c0ff } /* Name.Variable.Instance */
.dark .highlight .vm { color: #79c0ff } /* Name.Variable.Magic */
.dark .highlight .il { color: #a5d6ff } /* Literal.Number.Integer.Long */